/* You can add global styles to this file, and also import other style files */
h1 {
  color: #3e6b89;
  font-family: "Berlin Sans FB";
  font-size: large;
}

h2 {
  color: black;
  font-family: "Berlin Sans FB";
  font-size: medium;
}

h3 {
  color: black;
  font-family: Arial;
  font-size: small;
}
